:root {
    --color-primario: crimson;
    --color-secundario: cadetblue;
    --color-terciario: darkslategray;
    --color-fondo: lightgray;
    --fuente-principal: 'Libre Caslon Condensed', serif;
}

body {
    font-family: var(--fuente-principal);
    font-size: 16px;
    max-width: 1100px; 
    margin: 0 auto;
}

header {
    background-color: var(--color-primario);
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    background-color: var(--color-fondo);
    color: var(--color-terciario);
    padding: 20px;
}

footer {
    background-color: var(--color-secundario);
    color: white;
    padding: 10px;
    text-align: center;
}